@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #0A0A0A;
  color: white;
}

input, button {
  -webkit-tap-highlight-color: transparent;
}

::selection {
  background: #00D9FF33;
}
